<footer class="row text-center">
    <div class="col text-center">
        <h1 class="text-red-600 text-xl pb-2">Site Map</h1>
        <ul class="list-unstyled">
            <li>
                <a href="/" class="no-underline hover:underline" alt="">Home</a>
            </li>
            <li>
                <a href="/training" class="no-underline hover:underline" alt="">Work</a>
            </li>
            <li>
                <a href="/resources" class="no-underline hover:underline" alt="">About</a>
            </li>
            <li>
                <a href="/tools" class="no-underline hover:underline" alt="">Tools</a>
            </li>
            <li>
                <a href="/archive" class="no-underline hover:underline" alt="">Contact</a>
            </li>
        </ul>
    </div>
    <div class="col text-center   flex flex-wrap space-x-4">
        <h1 class="text-red-600 text-xl w-full">Social Media</h1>
        <ul class="list-unstyled px-52 ">
            <li class="pb-2">
                <a href="https://www.facebook.com/golderamit1">
                    <img class=" w-5 rounded-full  " src="/static/images/fb.png" alt="">
                </a>
            </li>
            <li class="pb-2">
                <a href="https://www.linkedin.com/in/amit-golder-99357a231/">
                    <img class="bg-blue-light-5 w-5 rounded-full" src="/static/images/lk.png" alt="">
                </a>
            </li>
            <li class="pb-2">
                <a href="https://twitter.com/2bittester">
                    <img class="bg-blue-light-5 w-5 rounded-full" src="/static/images/t.png" alt="">
                </a>
            </li>
            <li class="pb-2">
                <a href="https://github.com/Golderamit">
                    <img class="bg-rose-100 w-5 rounded-full" src="/static/images/git.png" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="col text-center">
        <h1 class="text-red-600 text-xl pb-2">Contact</h1>
        <ul class="list-unstyled">
            <li>
                <img class="display w-5 rounded-full" src="/static/images/con.png" alt=""> 
                <a class="text-blue-500" href="mailto:amitcsediu@gmail.com">amitcsediu@gmail.com</a>
            </li>
            
        </ul>
    </div>
  </footer>
