<footer class="row text-center">
    <div class="col text-center">
        <h1 class="text-red-600 text-xl pb-2">Site Map</h1>
        <ul class="list-unstyled">
            <li>
                <a href="/" class="no-underline hover:underline" alt="">Home</a>
            </li>
            <li>
                <a href="/training" class="no-underline hover:underline" alt="">Work</a>
            </li>
            <li>
                <a href="/resources" class="no-underline hover:underline" alt="">About</a>
            </li>
            <li>
                <a href="/tools" class="no-underline hover:underline" alt="">Tools</a>
            </li>
            <li>
                <a href="/archive" class="no-underline hover:underline" alt="">Contact</a>
            </li>
        </ul>
    </div>
    <div class="col text-center">
        <h1 class="text-red-600 text-xl pb-2">Social Media</h1>
        <ul class="list-unstyled">
            <li>
                <a href="https://www.facebook.com">
                    <img class="bg-blue-light-5 w-5 rounded-full" src="../images/FB.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/markwinteringham/">
                    <img class="bg-blue-light-5 w-5 rounded-full" src="../images/lk.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/2bittester">
                    <img class="bg-blue-light-5 w-5 rounded-full" src="../images/t.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://github.com/Golderamit">
                    <img class="bg-blue-light-5 w-5 rounded-full" src="../images/git.png" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="col text-center">
        <h1>hi</h1>
    </div>
  </footer>
