<div>
    
    <div class="container ">
      <div class="flex flex-wrap  items-center background1">
          <div class="w-1/3">
            <ul class="flex flex-wrap items-center">
              <li><a class="px-4 py-12" href="/">Home</a></li>
              <li><a class="px-4 py-12" href="#">Work</a></li>
              <li><a class="px-4 py-12" href="#">About</a></li>
              <li><a class="px-4 py-12" href="#">Contact</a></li>
            </ul>
          </div>
          <div class="w-1/3 flex justify-center">
              <a href="#" class="">
                  <img class="" src="" alt="">
              </a>
          </div>
          <div class="flex justify-end  space-x-8">
            <div class="w-1/3 flex justify-end items-center">
              <a class="px-4 py-12" href="/login/">Login</a>
              <a class="px-4 py-12" href="/signup/">Sign Up</a>
           </div>
           </div>
      </div>
      
  </div>
  
  </div>