<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Home</title>

    <link rel="stylesheet" href="/static/css/app.min.css" />
    <style>

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="">
          <div class="">
            <ul class="">
              <li><a class="" href="#">Home</a></li>
              <li><a class="" href="#">Work</a></li>
              <li><a class="" href="#">About</a></li>
              <li><a class="" href="#">Contact</a></li>
            </ul>
          </div>
          <div class="">
              <a href="#" class="">
                  <img class="" src="" alt="">
              </a>
          </div>
          <div class="">
           <div class="">
              <a class="" href="javascript:;">Login</a>
              <a class="" href="javascript:;">Sign Up</a>
           </div>
          </div>
      </div>
  </div>
    <h1 class="text-blue-500 text-center">Hello</h1>


  </body>
</html>
