<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>

    <link rel="stylesheet" href="/static/css/app.min.css" />
    <style>
      .container {
     width: 100%;
     margin-right: auto;
     margin-left: auto
      }
     body { 
     background-image: url("/static/images/background1.jpg");
     background-repeat: repeat;
     background-attachment: fixed;
     background-position: right;  
     }
    .background1 {
         background: linear-gradient(224.86deg, #8b3e960a 4.87%, #81c5bc 98.81%);
     }
     .section{
         min-height: 648px;
     }
     </style>
  </head>
  <body>
    <form action="/signup"  method="POST">
      {{.CSRFField}}
      <div class="container">
      <div class="flex flex-col background1 section ">
        <div class="flex flex-wrap justify-evenly  py-16">
        <div class="md:w-1/3 w-full px-4 text-center md:text-left">
        
        </div>
        <div class="md:w-1/3 w-full">
            <div class="my-4">
                <label class="block my-4" for="FirstName">FirstName</label>
                <input type="text" name="FirstName" class="py-2 w-full  bg-opacity-10 bg-green-200 border border-gray-500" value="{{.Form.FirstName}}" />
                {{with .FormErrors.FirstName}}
                  <p class="text-red-600  text-sm">{{.}}</p>
                 {{end}} 
              </div>

              <div class="my-4">
                <label class="block my-4" for="LastName">LastName</label>
                <input type="text" name="LastName" class="py-2 w-full  bg-opacity-10 bg-green-200 border border-gray-500" value="{{.Form.LastName}}" />
                {{with .FormErrors.LastName}}
                  <p class="text-red-600  text-sm">{{.}}</p>
                 {{end}} 
              </div>

              <div class="my-4">
                <label class="block my-4" for="Username">Username</label>
                <input type="text" name="Username" class="py-2 w-full  bg-opacity-10 bg-green-200 border border-gray-500" value="{{.Form.Username}}" />
                {{with .FormErrors.Username}}
                  <p class="text-red-600  text-sm">{{.}}</p>
                 {{end}} 
              </div>

          <div class="my-4">
            <label class="block my-4" for="Email">Email Address</label>
            <input type="text" name="Email" class="py-2 w-full  bg-opacity-10 bg-green-200 border border-gray-500" value="{{.Form.Email}}" />
            {{with .FormErrors.Email}}
              <p class="text-red-600  text-sm">{{.}}</p>
             {{end}} 
          </div>
          
          <div class="my-4">
            <label class="block my-4" for="Password">Password</label>
            <input type="password" name="Password" class="py-2 w-full  bg-opacity-10 bg-green-200 border border-gray-500" value="{{.Form.Password}}" />
            {{with .FormErrors.Password}}
              <p class="text-red-600 text-sm">{{.}}</p>
             {{end}} 
          </div>
  
          <div class="my-4">
            <button class="bg-green-500 px-2 py-2 rounded hover:bg-green-200" type="submit">Submit</button>
          </div>
          
        </div>
         </div>
      </div>
    </div>
    </form>
  </body>
</html>